@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', 'sans-serif';
}

a {
    text-decoration: none;
    color: white;
}

.navbar {
    position: fixed;
    left: 0;
    top: 0;
    width:100%;
    padding: 25px 9%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.s;


}
@keyframes show-content{
    100%{
        visibility: visible;
        opacity: 1;
    }
}

.logo {
    color: white;
    font-size: 30px;
    font-weight: 700;
}
.navbar ul {
    display: flex;

}
.navbar ul li {
    list-style: none;
    margin-left: 35px;
     
}
.navbar ul li a {
    font-size: 20px;
    font-weight: 500;
}

.navbar ul li:hover a{
    color: aqua;
    transition: 0.3s;
}

.active {
    color: aqua;
}

.sci img {
    width: 30px;
    margin: 0 15px;
    transition: 0.3s;
}

.home{
    display: flex;
    align-items: center;
    gap:50px;
    height: 100vh;
    padding: 60px 9% 0;
    color: #fff;
    visibility: hidden;
    opacity: 0;
    animation: show-content 1.5s linear forwards;
    animation-delay: 1.6s;


}
.home-info h1{
    font-size: 55px;
}

.home-info h2{
    font-size:32px;
    margin-top:-10px;
    display: inline-block;
}

.home-info p{
    font-size: 16px;
    margin:10px 0 25px;

}

.home-info h2 span{
    color: transparent; 
    display: inline-block;
    position: relative;
    z-index: 2;
    animation:display-text 16s linear infinite;
    -webkit-text-stroke: .7px aqua;
    animation-delay: calc(-4s * var(--i));
}
@keyframes display-text{
    25%,100%{
        display:none;

    }
  
}

.home-info h2 span::before{
    content: attr(data-text);
    position: absolute;
    color: aqua;
    width: 0;
    overflow: hidden;
    border-right: 2px solid aqua;
    white-space: nowrap;
    animation: fill-text 4s linear infinite;
    animation-delay: calc(-4s * var(--i));

    left: 0;
    top: 0;
    z-index: 3;
}

@keyframes fill-text{
    10%,
    100%{
        width: 0;
    }
    70%,
    90%{
        width: 100%;
    }
}

.home-info .btn-sci{
    display: flex;
    align-items: center;
}

.btn{
    display: inline-block;
    padding:10px 30px;
    background-color: rgb(0, 173, 173);
    border:2px solid rgb(0, 173, 173);
    border-radius: 20px;
    box-shadow: 0 0 10px rgb(0, 173, 173);
    font-size: 16px;
    font-weight: 600;
    transition: 0.3s;

 }
 .btn:hover{
    background-color: transparent;
    color: rgb(0, 173, 173);
 }

.sci {
    margin-left:20px;

}
.home-img .img-box{
    position: relative;
    width: 32vw;
    height: 32vw;
    border-radius: 50%;
    padding: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.home-img .img-box .img-item{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(0, 0, 0);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    overflow: hidden;
    z-index: 2;

}

.home-img .img-box .img-item img{
    position: absolute;
    top: 30px;
    display: block;
    width: 85%;
    object-fit: cover;
    z-index: 1;


}.home-img .img-box::before,
.home-img .img-box::after{
    content: '';
    position: absolute;
    width:500px;
    height: 500px;
    background:conic-gradient(transparent,transparent,transparent,aqua);
    transform: rotate(0deg);
    animation: rotate-border 6s linear infinite;

    
}
.home-img .img-box::after{
    animation-delay: -3s;
}

@keyframes rotate-border{
    100%{
        transform: rotate(360deg);
    }
}
.bars-animation {
   position: absolute;
   width: 100%;
   height: 100%;
   display: flex;
    z-index: -1;
    pointer-events: none;
}
.bars-animation .bar {
    width: 100%;
    height: 100%;
    background: black;
    transform: translateY(-100%);
    animation: show-bars 0.5s ease-in-out forwards;
    animation-delay: calc(.1s * var(--i));
}

@keyframes show-bars{
    100%{
        transform:translateY(0%)
    }
}